.navbar {
    display: flex;
    justify-content: center !important;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    border-bottom-left-radius: 0.9rem;
    border-bottom-right-radius: 0.9rem;
    font-weight: 600;
}

.formdiv {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
    justify-content: center;
}

.form-control {
    width: 30rem !important;
}

form {
    display: flex;
    gap: 1rem;
}

.card {
    margin: 0 20rem;
}

@media screen and (max-width: 1200px) {
    .card {
        margin: 0 15rem;
    }
}

@media screen and (max-width: 800px) {
    .card {
        margin: 0 10rem;
    }
}

@media screen and (max-width: 400px) {
    .card {
        margin: 0 1rem;
    }
    .form-control {
        width: 10rem !important;
    }
}